import bs4, requests, datatime

KrskL = ['Красноярск', 'красноярск', 'Красный','К', 'Кр', 'Кра', 'Крас', 'Красн', 'Красно', 'Красноя', 'Краснояр',
'к', 'кр', 'кра', 'крас', 'красн', 'красно', 'красноя', 'краснояр', 'красноярс', 'красноярск', 'крск']
# парссинг
#Цикл Парсинга
pogoda = ' '
while pogoda:
  if pogoda in KrskL:
         s = requests.get("https://sinoptik.com.ru/погода-красноярск")
         b = bs4.BeautifulSoup(s.text, "html.parser")
         # Утро
         Utr1 = b.select(" .temperature .p3")
         utro1 = Utr1[0].getText()
         Utr2 = b.select(" .temperature .p4")
         utro2 = Utr2[0].getText()
         # День
         De1 = b.select(" .temperature .p5")
         den1 = De1[0].getText()
         De2 = b.select(" .temperature .p6")
         den2 = De2[0].getText()
         # Вечер
         Ve1 = b.select(" .temperature .p7")
         ve1 = Ve1[0].getText()
         Ve2 = b.select(" .temperature .p8")
         ve2 = Ve2[0].getText()
         # Ночь
         Noch1 = b.select(" .temperature .p1")
         noch1 = Noch1[0].getText()
         Noch2 = b.select(" .temperature .p2")
         noch2 = Noch2[0].getText()
         # Общий
         Ob1 = b.select(" .rSide .description")
         ob1 = Ob1[0].getText()
         print(zvezda)
         time.sleep(1)
         print(space35, 'Смотрим в небо')
         time.sleep(1)
         print(space33, 'Анализируем звезды')
         time.sleep(1)
         print(space25, 'Шаманы установили следующие показатели')
         time.sleep(1)
         print(zvezda)
         time.sleep(1)
         print('Текущие время:', clock.strftime('%H:%M'))
         time.sleep(1)
         print('Текущая дата: ', clock.strftime('%d.%m.%Y'))
         print('-')
         time.sleep(1)
         print('Утром: ' + utro1 + ' ' + utro2)
         time.sleep(1)
         print('Днём: ' + den1 + ' ' + den2)
         print('-')
         time.sleep(1)
         print('Вечером: ' + ve1 + ' ' + ve2)
         time.sleep(1)
         print('Ночью: ' + noch1 + ' ' + noch2)
         print('-')
         time.sleep(1)
         print(ob1.strip())
         break
